.img1 {  
    width: 175px;  
    height: 150px; 
    float: left;
} 
body {
    background-color: grey;
}

.bgimage {
    /* The image used */
    background-image: url("https://www.visitlakegeorge.com/sites/default/files/styles/1600x1000/public/images/LGArea-FallHomePage20.jpg?h=4226fdba&itok=FNgtIcA3");
    /* I do not own rights to this image */
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .center {
      text-align: center;
  }

  footer {
    padding: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.lightblue {
    background-color: lightblue;
}