/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-0%, -120%);
    font-size: 50px;
  }

  .bigtext {
    font-size: 40px;
  }


.nav {
  background-color: lightblue;
}

.container {
  padding-top: 7%;
  padding-bottom: 50%;
  z-index: 9999;
}
  .containerone {
    opacity: 85%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-image: url("https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/118302146/original/81b1c9ba55531eaadf260b56ab9b789f0e6fe641/full-stack-developer-server-orchestration-expert.png");
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

header {
      width: 100%;
      z-index: 100;
}
.mainpage {
  text-align: left;
  position: absolute;
  top: 67%;
  right: 25% 
}

h3 {
  font-weight: bolder;
  font-size: 250%;
  background-color: rgb(88, 125, 206);
}

h2 {
  border: black;
  text-align: center;
} 